    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Angelo Leng">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Angelo Leng's professional website">
    <title>Angelo Leng</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Angelo Leng</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a> 
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form action="/contact_form.php" method="get">
            <label for="name">Name:</label>
            <input type="text" id ="name" name="name"><br><br>
            <label for="email">E-Mail:</label>
            <input type="text" id ="email" name="email"><br><br>
            <label for="comment">Comment:</label>
            <input type="text" id ="comment" name="comment"><br><br>
        </form>
        <table>
            <tr>
                <td>phone number: </td>
                <td>(626)848-2184</td>
            </tr>
            <tr>
                <td>e-mail address: </td>
                <td>aleng@andrew.cmu.edu</td>
            </tr>

        </table>
    </div>
    
    <footer>
        ©2024 Angelo Leng. All rights reserved.
    </footer>
</body>
</html>