    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Angelo Leng">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Angelo Leng's professional website">
    <title>Angelo Leng</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src = "../static/script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body onload = "addYear()">
    <header>
        <h1 id="h1color">Angelo Leng</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">Qualifications</a>
            <a href="contact.html">Contact</a> 
            <a href="fun.html">About Me</a>
        </nav>
    </header>
    <div class = "main">
        <h2>Contact Me</h2>
        <form action="/contact_form.php" method="get">
            <label for = "name">Name:</label>
            <input id ="nameBox" type="text" required><br>

            <label for = "email">E-Mail:</label>
            <input id ="emailBox" type="email" required><br>

            <label for = "comment">Comment:</label>
            <textarea id ="commentBox" required></textarea><br><br>

            <input type = "submit" id = "submitButton" value = "submit form" onclick = "validForm()">
        </form>

        <p id = "error">Missing information in fields.</p>

        <table>
            <tr>
                <th>CONTACT METHOD</th>
                <th>description</th>
            </tr>
            <tr>
                <td>phone number: </td>
                <td>(626) 848-2184</td>
            </tr>
            <tr>
                <td>e-mail address: </td>
                <td>aleng@andrew.cmu.edu</td>
            </tr>

        </table>
    </div>
    
    <footer>
        <p id = "copyYear">©2024 Angelo Leng. All rights reserved.</p>
    </footer>
</body>
</html>