<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Angelo Leng">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Angelo Leng's professional website">
    <title>Angelo Leng</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src = "../static/script.js" defer></script>
</head>
<body onload = "addYear()">
    <header>
        <h1 id="h1color">Angelo Leng</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">Qualifications</a>
            <a href="contact.html">Contact</a> 
            <a href="fun.html">About Me</a>
        </nav>
    </header>
    <div class = "mainLayout">
<!--        <button id = "funButton" onclick = "showList()">Click to See</button>-->

        <div id = "item1">
            <h2>Things I love to do for fun</h2>
            <ul id = "funList">
                <li>Cooking</li>
                <li>Language-Learning</li>
                <li>Working Out</li>
                <li>Eating</li>
                <li>Chores</li>
            </ul>
        </div>
        <div id = "item2">
            <img src = "../static/uglydog.jpeg" alt = "This should be an image of an ugly dog" class = "funIMG">
        </div>
        <div id = "item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FfWrvrBY6Mo?si=BUGdBHShA8R15UnP" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div id = "item4">
            <div class = "container">
                <h2>Need Some Advice?</h2>
                <p id = "adviceText">For random advice, click the button</p>
                <button id = "adviceButton" onclick = "getAdvice()">Get Advice!</button>
            </div>
        </div>
    </div>
    
    <footer>
        <p id = "copyYear">©2024 Angelo Leng. All rights reserved.</p>
    </footer>
</body>
</html>